body {
    font-family: Arial;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counter-box {
    background: white;
    padding: 30px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h2 {
    font-size: 60px;
    margin: 20px 0;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:nth-child(1) { background: red; color: white; }
button:nth-child(2) { background: gray; color: white; }
button:nth-child(3) { background: green; color: white; }
